{% comment %} {% load static %} {% endcomment %}
{% comment %} {% load static tailwind_tags %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} <link rel="stylesheet" href="{% static "css/output.css" %}"> {% endcomment %}
    <title>Document</title>
      {% comment %} {% tailwind_css %} {% endcomment %}
</head>
<body>
    <h1 class="bg-green-100 border-50 mt-5">This is Footer</h1>
</body>
</html>